h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Open Sans, PT Sans, Roboto !important;
}

.img-resp {
    display: block;
    max-width: 100%;
}

li:hover ul {
    display: block; /* При выделении пункта курсором мыши отображается подменю */
}

.ngve {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 70px;
    margin-bottom: 40px;
    color: inherit;
    background-color: #dd3333;
    height: 100px;
    line-height: 92px;
}

p.leftstr, p.rightstr {
    float: left; /* Обтекание справа */
    width: 50%; /* Ширина контентового блока */
}

p.leftstr {
    font-family: Open Sans, PT Sans, Roboto;
    font-size: 25pt; /* Размер шрифта в пунктах */
    color: #ffffff;
}

p.rightstr {
    text-align: right; /* Выравнивание по правой стороне */
    font-family: Open Sans, PT Sans, Roboto;
    font-size: 18pt; /* Размер шрифта в пунктах */
    color: #ffffff;
}

#raz p.leftstr {width: 100%;}

.site-main {
    position: relative;
    max-width: 1264px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 48px;
    padding-bottom: 48px;
}

.content-area {
    padding-left: 32px;
    padding-right: 32px;
}

.site-main .sidebar-container {
    display: block;
    float: left;
    width: 24%;
    z-index: 1;
    position: relative;
}

.site-main .sidebar-inner {
    padding-left: 0px;
    padding-right: 32px;
}

.sidebar-inner h4.widget-title {
    margin-top: 0px;
    padding-top: 0px;
}

.widget-title {
    font: 400 normal 22px Open Sans, PT Sans, Roboto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 12px;
}

.sidebar-inner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-inner li {
    padding: 12px 0px;
    border-bottom: 1px solid #e7e7e7;
    vertical-align: middle;
}

.sidebar-inner a {
    font: 15px Open Sans, PT Sans, Roboto;
    color: #01080D;
}

.content-site {
    float: right;
    width: 75%;
}

ul.products {
    margin: 0 0 1em;
    padding: 0;
    list-style: none;
    clear: both;
}

ul.products li {
    float: left;
    margin: 0 3.8% 2.992em 19%;
    padding: 0;
    position: relative;
    width: 150px;
    display: block;
}

#pic {float: left;}
#text {margin-left: 410px;}
#desc {text-align: justify;}
#desc h4 {
    font: 18px Open Sans, PT Sans, Roboto;
    color: #01080D;
}

.footer-site {
    text-align: left;
    color: #777777;
    max-width: 100%;
}

.footer-bg {
    display: block;
    clear: both;
    background-color: #383838;
    padding-left: 130px;
    padding-right: 130px;
    height: 350px;
    max-width: 100%;
}

.footer-site .widget-wrap {
    margin: 60px auto 0px;
    max-width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    height: 350px;
}

.footer-site .sidebar-footer {
    background-color: #383838;
    padding: 20px 0;
    clear: both;
    height: 350px;
    max-width: 100%;
}

.footer-site .widget-area {
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    margin-left: -16px;
    margin-right: -16px;
}

.footer-site .widget-area .widget-search .form-control {
    display: block;
    float: left;
    margin: 0px;
    margin-bottom: 1px;
    max-width: 100%;
    padding: 0 16px;
    position: relative;
    background: transparent;
    color: #fff;
    background-color: #343434;
    border: 1px solid #222222;
    color: #C7C7C7;
}

.pages2 ul {
    list-style-type: none;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.pages2 li {
    padding: 12px 0px;
    max-width: 100%;
    border-bottom: 1px solid #e7e7e7;
    vertical-align: middle;
}

.footer-site .site-info {
    padding: 35px 0px;
    max-width: 100%;
    font-size: 12px;
}

@media screen and (max-width: 1000px) {
   .widget-area {display: none;}
   .footer-site .site-info {padding: 25px 0}
   .footer-site .sidebar-footer {height: 87px; }
   .footer-site .widget-wrap {height: 87px; }
   .footer-site .footer-bg {height: 87px; }
   p.leftstr {font: 18px Open Sans, PT Sans, Roboto; padding-top: 28px; padding-bottom: 5px;}
   p.rightstr {font: 15px Open Sans, PT Sans, Roboto; padding-top: 28px; padding-bottom: 5px;}
   #raz p.leftstr {width: 100%;}
   #text {margin-left: 210px;}
}

@media screen and (max-width: 480px) {
   html {-webkit-text-size-adjust: none;}
   body {
      padding: 1px 1px;
   }
   .footer-site .site-info {padding: 1px 0}
   .site-main .sidebar-container {display: none;}
   .content-site {width: 100%;}
   .content-area {padding-left: 0em; padding-right: 32px;}
   #text {margin-left: 10px;}
   .form-signin label {font-weight: normal; font: 15px Open Sans, PT Sans, Roboto;}
   .form-signin .button-xs {margin-left: -30px;}
   .container-fluid {padding-left: 0px; padding-right: 0px;}
   .col-xs-12 {padding-left: 0px; padding-right: 0px;}
   .footer-bg {padding-left: 0px;}
   .sidebar-footer {padding: 0px;}
   .img-res {height: 200px; width: 380px;}
}

.footer-site .copyright {
    text-align: left;
    display: inline-block;
    max-width: 100%;
}

#summa:after{
    content: 'руб.';
    margin-left: 5px;
}
.summa:after{
    content: 'руб.';
    margin-left: 5px;
}

.korzina .cow{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.korzina .cow img, .korzina .row name, .korzina .row price, .korzina .row .delete{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    font-size: 14px;
}
.korzina .cow img{
    max-height: 100px;
    width: auto;
    margin-right: 30px;
}

.korzina .cow .delete{
    width: 10px;
    text-decoration: underline;
    color: red;
    cursor: pointer;
}

.form-signin table{
    margin-top: 30px;
}

table{
    border-spacing: 7px 11px;
}
td{
    padding: 5px;
}

.annotation{
    margin-left: 10px;
    margin-top: 10px;
    border-spacing: 7px 11px;
    padding: 5px;
}

.form-signin .button-xs {
    margin-left: 0px;
    margin-top: 30px;
    padding: 1px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    background-color: #4582ec;
    border-color: #4582ec;
    color: #ffffff;
    font: 15px Open Sans, PT Sans, Roboto;
}
