{% extends 'shop/base.html' %}

{% block title %}
Мой аккаунт
{% endblock %}

{% block jumbotron %}
          <div class="jumbotron">
            <h1>Мой аккаунт</h1>
            <h2><a href="http://ngve.ru/">NGVE.RU</a> Товары</h2>
          </div>
{% endblock %}

{% block content %}
<div class="login">
      <form method="post" action="/accounts/register/" class="form-signin">
        {% csrf_token %}

        <table>
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td>{{ form.password1.label_tag }}</td>
            <td>{{ form.password1 }}</td>
          </tr>
           <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td>{{ form.password2 }}</td>
          </tr>
       </table>

        <input class="button-xs" type="submit" value="Зарегистрироваться">
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div> <!-- /container -->
{% endblock %}