{% extends 'shop/base.html' %}

{% block title %}
Мой аккаунт
{% endblock %}

{% block jumbotron %}
          <div class="jumbotron">
            <h1>Мой аккаунт</h1>
            <h2><a href="http://ngve.ru/">NGVE.RU</a> Товары</h2>
          </div>
{% endblock %}

{% block content %}
<div class="login">
      <form method="post" action="/accounts/register/" class="form-signin">
        {% csrf_token %}
        {{ form }}
        <input class="button" type="submit" value="Зарегистрироваться">
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div> <!-- /container -->
{% endblock %}