{% extends 'shop/base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block jumbotron %}
          <div class="jumbotron">
            <h1>Контакты</h1>
            <h2><a href="http://ngve.ru/">NGVE.RU</a> Товары</h2>
          </div>
{% endblock %}


{% block content %}

<p>Гомон Владимир,   ahov90@gmail.com,       +7 916 606 2612<br />
Абакумов Алексей, alex-abakumov@yandex.ru, 8 916 924 5936</p>
<p>Основной сайт с описанием газодизельной системы TRIOL <a href="http://cngas.ru/">http://cngas.ru/</a></p>
<p><strong>Реквизиты для оплаты по безналичному расчету:</strong></p>
<p>ИП Гомон В.Л.<br />
ОГРНИП 315774600047823<br />
Свидетельство о регистрации в качестве ИП серия 77 номер 016972444<br />
ИНН 773570810020<br />
Р/с 40802810695000001881<br />
в банке Банк АО «Газпромбанк»<br />
К/с 30101810200000000823<br />
БИК 044525823</p>

{% endblock %}