{% extends 'shop/base.html' %}

{% block title %}
Малый тонаж до 200 ЛС
{% endblock %}

{% block jumbotron %}
        <p class="leftstr">Малый тонаж до 200 ЛС</p>
        <p class="rightstr"><a href="http://ngve.ru/">NGVE.RU</a> > Малый тонаж до 200 ЛС </p>
{% endblock %}


{% block content %}
    <p>Вариант с установкой баллонов на раму. Подходит для всех типов малотоннажных автомобилей
        с мощностью двигателя до 200 ЛС. Пример, на фотографии ниже:</p>
        <img src="/media/media/IMG_20140723.jpg" alt="IMG_20140723" height="500" width="800" class="img-res"><br /><br />
        <p>Полный набор оборудования состоит из:</p>
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Наименование компонента</th>
              <th>Количество</th>
              <th>Компонент</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Баллон Тип-1 108 литров</td>
              <td>1-4</td>
              <td><img src="/media/media/CNG-Cylinder_1.jpg" height="100">
              <br /><h6>15,180.00 руб. *</h6></td>
            </tr>
            <tr>
              <td>Вентиль метановый баллонный</td>
              <td>1-4</td>
              <td><img src="/media/media/valve.png" height="100">
              <br /><h6>1,242.00 руб. *</h6></td>
            </tr>
            <tr>
              <td>Стальная трубка высокого давления, 6 мм</td>
              <td>1</td>
              <td><img src="/media/media/6103106-FARO.png" height="100">
              <br /><h6>759.00 руб. *</h6></td>
            </tr>
            <tr>
              <td>Гайка стальная с муфтой, 6 мм</td>
              <td>3-10</td>
              <td><img src="/media/media/cng-nut-and-ferrules.jpg" height="100">
              <br /><h6>69.00 руб. *</h6></td>
            </tr>
            <tr>
              <td>Заправочная горловина</td>
              <td>1</td>
              <td><img src="/media/media/cng_filling.jpg" height="100">
              <br /><h6>2,070.00 руб. *</h6></td>
            </tr>
            <tr>
              <td>Манометр А6мм Р 0-400 бар</td>
              <td>1</td>
              <td><img src="/media/media/man.png" height="100">
              <br /><h6>759.00 руб. *</h6></td>
            </tr>
            <tr>
              <td>Фильтр высокого давления</td>
              <td>1</td>
              <td><img src="/media/media/filter.png" height="100">
              <br /><h6>3,243.00 руб. *</h6></td>
            </tr>
            <tr>
              <td>12В 3 бара TRIOL M ЛЕГКОВОЙ 200 ЛС</td>
              <td>1</td>
              <td><img src="/media/media/kit3.png" height="100">
              <br /><h6>33,465.00 руб. *</h6></td>
            </tr>
            <tr>
              <td><h6>Итого: 106.674 руб. *</h6></td>
              <td></td><td></td>
            </tr>
          </tbody>
        </table>
        <p>* Возможно изменение цен в зависимости от курса рубля.
          Актуальные цены уточняйте по <a href="{% url 'main' %}">ссылке</a>.</p>
{% endblock %}