{% extends 'shop/base.html' %}
{% load humanize %}

{% block title %}
Поиск
{% endblock %}

{% block jumbotron %}
        <p class="leftstr">Результат поиска для "{{ query }}"</p>
        <p class="rightstr"><a href="http://ngve.ru/">NGVE.RU</a> > Search results for {{ query }} </p>
{% endblock %}

{% block content %}
          <div class="row">
              {% if results %}
                  {% for item in results %}
                    <div class="col-xs-6 col-lg-4" margin="auto">
                      <ul class="products">
                        <li>
                          <h6>{{ item.get_short_name }}</h6>
                          <a href="{% url 'item' item.id %}"><img src="{{ item.image.url }}" width="150" height="150"
                                                                       class="img-responsive" alt="Изображение"></a>
                          <h6><span class="text-muted">{{ item.price|intcomma }}</span></h6>
                        </li>
                      </ul>
                    </div><!--/.col-xs-6.col-lg-4-->
              {% endfor %}
              {% else %}
                {% if query %}
                  <h4>Поиск не дал результата.</h4>
                {% else %}
                  <h4>Введите значение для поиска в верхней части страницы</br> и нажмите Enter.</h4>
                {% endif %}
              {% endif %}
          </div><!--/row-->
{% endblock %}