{% extends 'shop/base.html' %}
{% load humanize %}

{% block title %}
Оборудование для газомоторного транспорта
{% endblock %}

{% block jumbotron %}
        <p class="leftstr">Магазин</p>
        <p class="rightstr"><a href="http://ngve.ru/">NGVE.RU</a> > Товары</p>
{% endblock %}

{% block content %}
            <div class="row">
              {% for item in items %}
                <div class="col-xs-6 col-lg-4" margin="auto">
                <ul class="products">
                  <li>
                      <h6>{{ item.get_short_name }}</h6>
                      <a href="{% url 'item' item.id %}"><img src="{{ item.image.url }}" width="150" height="150"
                                                                       class="img-resp" alt="Изображение"></a>
                      <h6><span class="text-muted">{{ item.cost|intcomma }}</span></h6>
                  </li>
                </ul>
                </div>
              {% endfor %}
            </div>
          <div class="row">
              <div class="large-3 large-offset-5 columns" align="center">
                  <ul class="pagination">
                      {% if items.has_previous %}
                        <li class="arrow"><a href="/page/{{ items.previous_page_number }}/">&laquo;</a></li>
                      {% else %}
                        <li class="arrow unavailable"></li>
                      {% endif %}
                      {% for page in items.paginator.page_range %}
                        {% if page == items.number %}
                           <li class="current"><a href="/page/{{ page }}/">{{ page }}</a></li>
                        {% else %}
                           <li><a href="/page/{{ page }}">{{ page }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if items.has_next %}
                        <li class="arrow"><a href="/page/{{ items.next_page_number }}/">&raquo;</a></li>
                      {% else %}
                        <li class="arrow unavailable"></li>
                      {% endif %}
                  </ul>
              </div>
          </div>
{% endblock %}